{% extends 'myapp/base.html' %}
{% load static %}
{% block body %}
<div class="main-section">

    <div class="page-section">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i
                                        class="fa fa-shopping-cart text-danger"></i>Review your billing address</a></li>

                        </ul>
                        <div class="tab-content">
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">


                                    <div id="menu-item-list-6272" class="menu-itam-list">
                                          <div class="billing-address">
                                            <div><b>{{order.name}}</b></div>
                                            <div>{{order.address}}</div>
                                            <div>{{order.state}}--{{order.country}}--{{order.pin_code}}</div>
                                            <div><b>phone:{{order.phone}}</b></div>
                                            <div><b>phone:{{order.phone}}</b></div>
                                            <div><b>email:{{order.email}}</b></div>
                                            <div><b>Payment:{{order.payment_method}}</b></div>
                                            <br>
                                            <div><a href="{%url 'checkout'%}" class="btn btn-outline-danger">Edit</a></div>
                                          </div>




                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- Your order -->
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-6">
                    <div class="tabs-holder horizontal">
                        <ul class="stickynav-tabs nav nav-tabs">
                            <li class="active"><a data-toggle="tab" href="#home"><i
                                        class="icon- icon-room_service"></i>Your Order</a></li>

                        </ul>
                        <div class="tab-content">
                            <!-- Home Tab Content -->
                            <div id="home" class="tab-pane in active">
                                <div class="menu-itam-holder">
                                  <div id="menu-item-list-6272" class="menu-itam-list"> 
                                  
                                    <ul>
                                        {% for cart_item in cart_items %}
                                        <li id="cart-item-{{cart_item.id}}">

                                            <div class="image-holder"> <img src="{{cart_item.fooditem.image.url}}"
                                                    alt=""></div>
                                            <div class="text-holder">
                                                <h6>{{cart_item.fooditem}}</h6>

                                                <a href="{% url 'marketplace:vendor_detail' cart_item.fooditem.vendor.vendor_slug %}"
                                                    class="badge badge-warning">{{cart_item.fooditem.vendor}}</a>
                                            </div>
                                            <div class="quantity" style="display:inline-block;position:absolute;top:50%; transform:translateY(-50%);margin-top:-10px">
                                                 <span>{{cart_item.quantity}} QTY</span>

                                            </div>
                                            <div class="price-holder">
                                                <span class="price">£{{cart_item.fooditem.price}}</span>

                                                



                                            </div>
                                        </li>
                                        {% endfor %}
                                        
                                        <!-- Subtotal -->
                                        <li class="order-item">
                                            Subtotal
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="subtotal">{{subtotal}}</span>
                                            </span>
                                        </li>

                                        <!-- Tax -->
                                        {% for key ,value in tax_dict.items %}
                                        {% for i,j in value.items %}
                                        <li class="order-item">
                                            {{key}}<small>{{i}}</small>
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="tax-{{key}}">{{j}}</span>
                                            </span>
                                        </li>
                                        {% endfor %}
                                        {% endfor %}

                                        <!-- Total -->
                                        <li class="order-item font-weight-bold">
                                            Total
                                            <span class="price float-right">
                                                <span class="currency">$</span>
                                                <span id="total">{{grand_total}}</span>
                                            </span>
                                        </li>
                                        {% if order.payment_method == 'paypal' %}
                                        <div id="paypal-button-container"></div>
                                        {% elif order.payment_method == 'esewa' %}
                                        <form action="https://rc-epay.esewa.com.np/api/epay/main/v2/form" method="POST">
                                            <input type="hidden" id="amount" name="amount" value="1000" required>
                                            <input type="hidden" id="tax_amount" name="tax_amount" value ="10" required>
                                            <input type="hidden" id="total_amount" name="total_amount" value="1010" required>
                                            <input type="hidden" id="transaction_uuid" name="transaction_uuid" value="241028" required>
                                            <input type="hidden" id="product_code" name="product_code" value ="EPAYTEST" required>
                                            <input type="hidden" id="product_service_charge" name="product_service_charge" value="0" required>
                                            <input type="hidden" id="product_delivery_charge" name="product_delivery_charge" value="0" required>
                                            <input type="hidden" id="success_url" name="success_url" value="http://127.0.0.1:8000/order/payments/" required>
                                            <input type="hidden" id="failure_url" name="failure_url" value="http://google.com" required>
                                            <input type="hidden" id="signed_field_names" name="signed_field_names" value="total_amount,transaction_uuid,product_code" required>
                                            <input type="hidden" id="signature" name="signature" value="i94zsd3oXF6ZsSr/kGqT4sSzYQzjj1W/waxjWyRwaME=" required>
                                            <button onclick="generateSignature()" type="submit" class="btn btn-success">Pay with eSewa</button>
                                            </form>
                                        {% endif %}
                                    </ul>
                                </div> 
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>

</div>
<script>

 function generateSignature()
 {
            // Generate transaction UUID
            var currentTime = new Date();
        var formattedTime = currentTime.toISOString().slice(2, 10).replace(/-/g, '') + '-' + currentTime.getHours() + currentTime.getMinutes() + currentTime.getSeconds();
        document.getElementById("transaction_uuid").value = formattedTime;
        var total_amount = document.getElementById("total_amount").value;
        var transaction_uuid = document.getElementById("transaction_uuid").value;
        var product_code = document.getElementById("product_code").value;
        var secret = "8gBm/:&EnhH.1/q"; 
        var hash = CryptoJS.HmacSHA256(`total_amount=${total_amount},transaction_uuid=${transaction_uuid},product_code=${product_code}`, secret);
        var hashInBase64 = CryptoJS.enc.Base64.stringify(hash);
        document.getElementById("signature").value = hashInBase64;// Replace with your actual secret key

 }

    var url="{% url 'order:payments'%}"
    var order_complete="{% url 'order:order_complete' %}"
    var order_number="{{order.order_number}}"
    function getCSRFToken() {
        const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');
        return csrfToken;
    }
    // Render the PayPal button into #paypal-button-container
    paypal.Buttons({

        // Call your server to set up the transaction
        createOrder: function (data, actions) {
            return fetch('/demo/checkout/api/paypal/order/create/', {
                method: 'post',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCSRFToken() // Add CSRF token
                }
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                return orderData.id;
            });
        },

        // Call your server to finalize the transaction
        onApprove: function (data, actions) {
            return fetch('/demo/checkout/api/paypal/order/' + data.orderID + '/capture/', {
                method: 'post'
            }).then(function (res) {
                return res.json();
            }).then(function (orderData) {
                // Three cases to handle:
                //   (1) Recoverable INSTRUMENT_DECLINED -> call actions.restart()
                //   (2) Other non-recoverable errors -> Show a failure message
                //   (3) Successful transaction -> Show confirmation or thank you

                // This example reads a v2/checkout/orders capture response, propagated from the server
                // You could use a different API or structure for your 'orderData'
                var errorDetail = Array.isArray(orderData.details) && orderData.details[0];

                if (errorDetail && errorDetail.issue === 'INSTRUMENT_DECLINED') {
                    return actions.restart(); // Recoverable state, per:
                    // https://developer.paypal.com/docs/checkout/integration-features/funding-failure/
                }

                if (errorDetail) {
                    var msg = 'Sorry, your transaction could not be processed.';
                    if (errorDetail.description) msg += '\n\n' + errorDetail.description;
                    if (orderData.debug_id) msg += ' (' + orderData.debug_id + ')';
                    return alert(msg); // Show a failure message (try to avoid alerts in production environments)
                }

                // Successful capture! For demo purposes:
                // console.log('Capture result', orderData, JSON.stringify(orderData, null, 2));
                var transaction = orderData.purchase_units[0].payments.captures[0];
                

                var transaction_id=transaction.id
                var status=orderData.status
                var payment_method='PayPal'
                sendTransaction(transaction_id,payment_method,status)
                // alert('Transaction '+ transaction.status + ': ' + transaction.id + '\n\nSee console for all available details');

                // Replace the above to show a success message within this page, e.g.
                const element = document.getElementById('paypal-button-container');
                element.innerHTML = '';
                element.innerHTML = '<h4 class="text-center"><i class="fa fa-spinner fa-spin"></i>Please wait</h4>';
                // Or go to another URL:  actions.redirect('thank_you.html');
            });
        }

    }).render('#paypal-button-container');

    // send the data to the payment view 
    function sendTransaction(transaction_id,payment_method,status)
    {
          $.ajax({
            type:'POST',
            url:url,
            data:{
                 'order_number':order_number,
                 'transaction_id':transaction_id,
                 'payment_method':payment_method,
                 'status':status,
                 'csrfmiddlewaretoken':getCSRFToken()
                
            },
            success:function(response){
               
                window.location.href=order_complete+'?order_no='+response.order_number+'&trans_id='+response.transaction_id
            }


          })
    }
</script>
{% endblock %}